$font-stack: 'Domine', serif;
$primary-color : #FFF; 
$secondary-color: #000000;
$breakpoint-tablet:620px;
$breakpoint-laptop: 960px;

body,a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	background-color: #f7f9fc;
}

h3 {
	font-size: 1.47em;
	padding: 15px;
}

img {	
	width: 12.29em;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

p {
	padding-left: 20px;
}

ul {
	list-style-type: none;
	padding: 0;
	width: 14em;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	position: relative;
	text-align: center;
	background-color: $primary-color ;
}

.recommendation {
	border: 1px solid #ddd;
	background-color: $primary-color;
}

.product-name {
	font-family: $font-stack;
	font-size: 1em;
	color: #DF1417;
	padding-left: 20px;
	margin-bottom: 5px;
}

.products-section {
	background-color: $primary-color;
	height: auto;
	position: relative;
	padding-bottom: 20px;
}

.buy-button {
	font-family: $font-stack;
	background-color: #68C143;
	border: none;
	color: $primary-color;
	padding: 5px 10px;
	text-align: center;
	font-size: 1em;
	border-radius: 8px;
	display: block;
	margin: 0 auto 10px auto;
	&:hover {
	background-color: #3f7727;
	}
}

.sales-unit {
	font-size: 0.76em;
	margin-top: 0;
	color: #545A5E;
}

.price {
	color: #000000;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1em;

}

#scroll {
	text-align: center;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.dot {
	cursor: pointer;
	height: 0.58em;
	width: 0.58em;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active {
	background-color: #717171;
}

.previous, .next {
	text-align: center;
	cursor: pointer;
	position: absolute;
	top: 50%;
	padding: 13px;
	color: #909090;
	font-size: 1.17em;
}

.next {
	right: 0;
}


@media (min-width: $breakpoint-tablet) {
	img {
		width: 20.29em;
	}
	ul {
		width: 26em;
	}
	h3 {
		font-size: 1.8em;
	}
	.product-name, .price, .buy-button {
		font-size: 1.5em;
	}
	.sales-unit {
		font-size: 1.2em;
	}

	.previous, .next {
		font-size: 2.17em;
	}
	.dot {
		height: 1em;
		width: 1em;
	} 
}

@media (min-width: $breakpoint-laptop) {
  body {
		font-size: 18px;
	}
	img {
		width: 14em;
	}
	h3 {
		font-size: 1.4em;
	}
	.product-name, .price {
		font-size: 1.1em;
	}
	.product-name, .price ,.sales-unit {
		text-align: center;
		padding: 0

	}
	.sales-unit {
		font-size: 1em;
	}

	.previous, .next {
		font-size: 2.17em;
	}

	.products-section {
		width: 800px;
    	margin: 0 auto;
	}
	.buy-button {
		font-size: 1em;
	}
}
